In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as linregress
import numpy as np

In [3]:
cta_bus_path = r"C:\Users\Kaleb\Chicago_Energy\Travel_data\CTA_Average_Bus_Ridership_1999_2020_1 (1).csv"
cta_rail_path = r"C:\Users\Kaleb\Chicago_Energy\Travel_data\CTA_Average_Rail_Station_Ridership_1999_2020_0 (1).csv"
metra_riders_path = r"C:\Users\Kaleb\Chicago_Energy\Travel_data\Metra_Monthly_Ridership_by_Line_2003_2020_0.csv"
yearly_data_path = r"C:\Users\Kaleb\Chicago_Energy\Travel_data\SYSTEMRIDERSHIP_0.csv"
census_data = r"C:\Users\Kaleb\Chicago_Energy\Data\Chicago_Population_Counts_2018.csv"

In [4]:
cta_bus_csv =  pd.read_csv(cta_bus_path)
cta_bus = pd.DataFrame(cta_bus_csv)
cta_bus

      ROUTE  MONTH    YEAR DAY_TYPE_ID  AVG_RIDES
0         0    4.0  2020.0          WK     1340.0
1         0    4.0  2020.0         SAT      766.0
2         0    4.0  2020.0         SUN      666.0
3         1    4.0  2020.0          WK       89.0
4       100    4.0  2020.0          WK      166.0
...     ...    ...     ...         ...        ...
82914    10    1.0  1999.0         SAT      200.0
82915    25    1.0  1999.0         SAT      158.0
82916   90N    1.0  1999.0         SAT      114.0
82917    25    1.0  1999.0         SUN      111.0
82918   55N    1.0  1999.0         SAT      105.0

[82919 rows x 5 columns]

In [6]:
#cta_bus["AVG_RIDES"] = cta_bus["AVG_RIDES"].sum(axis=1)
cta_bus_year =cta_bus.groupby(["YEAR"])
cta_bus_2015 = cta_bus.loc[cta_bus["YEAR"] == 2015]
cta_bus_2016 = cta_bus.loc[cta_bus["YEAR"] == 2016]
cta_bus_2017 = cta_bus.loc[cta_bus["YEAR"] == 2017]
cta_bus_2018 = cta_bus.loc[cta_bus["YEAR"] == 2018]
cta_bus_2019 = cta_bus.loc[cta_bus["YEAR"] == 2019]
cta_bus_2020 = cta_bus.loc[cta_bus["YEAR"] == 2020]
cta_bus_year

In [7]:
#Rides per year
totals = cta_bus_year['AVG_RIDES'].sum()
#cta_bus_2015['total']=cta_bus_2015.loc[:,"AVG_RIDES"].sum()
#cta_bus_2015["total"]

totals

YEAR
1999.0    23325156.0
2000.0    23728929.0
2001.0    23769669.0
2002.0    23909827.0
2003.0    22977607.0
2004.0    23305330.0
2005.0    24066467.0
2006.0    23745665.0
2007.0    24680850.0
2008.0    26377709.0
2009.0    25756549.0
2010.0    24444827.0
2011.0    24903936.0
2012.0    25313144.0
2013.0    23966502.0
2014.0    22061748.0
2015.0    21876596.0
2016.0    20495913.0
2017.0    19641987.0
2018.0    18955014.0
2019.0    18670712.0
2020.0     4509689.0
Name: AVG_RIDES, dtype: float64

In [21]:
cta_bus_rides = {'Year': ["2015", '2016', '2017', '2018', '2019', '2020' ],
                'Rides': ["21876596", '20495913', '19641987', '18955014', '18670712',
                         '4509689']
                }
cta_bus_rides_df = pd.DataFrame(cta_bus_rides, columns=['Year', 'Rides'], index = [1, 2, 3, 4, 5, 6])

print(cta_bus_rides_df)

   Year     Rides
1  2015  21876596
2  2016  20495913
3  2017  19641987
4  2018  18955014
5  2019  18670712
6  2020   4509689

In [11]:
totals_df = pd.DataFrame(totals)
totals_df

         AVG_RIDES
YEAR
1999.0  23325156.0
2000.0  23728929.0
2001.0  23769669.0
2002.0  23909827.0
2003.0  22977607.0
2004.0  23305330.0
2005.0  24066467.0
2006.0  23745665.0
2007.0  24680850.0
2008.0  26377709.0
2009.0  25756549.0
2010.0  24444827.0
2011.0  24903936.0
2012.0  25313144.0
2013.0  23966502.0
2014.0  22061748.0
2015.0  21876596.0
2016.0  20495913.0
2017.0  19641987.0
2018.0  18955014.0
2019.0  18670712.0
2020.0   4509689.0

In [21]:
cta_bus_2016['total']=cta_bus_2016.loc[:,"AVG_RIDES"].sum()
cta_bus_2016['total']

<ipython-input-21-6183bce8307e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cta_bus_2016['total']=cta_bus_2016.loc[:,"AVG_RIDES"].sum()

12555    20495913.0
12556    20495913.0
12557    20495913.0
12558    20495913.0
12559    20495913.0
            ...
16364    20495913.0
16365    20495913.0
16366    20495913.0
16367    20495913.0
16368    20495913.0
Name: total, Length: 3814, dtype: float64

In [22]:
cta_bus_2017['total']=cta_bus_2017.loc[:,"AVG_RIDES"].sum()
cta_bus_2017['total']

<ipython-input-22-abb0a5999797>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cta_bus_2017['total']=cta_bus_2017.loc[:,"AVG_RIDES"].sum()

8783     19641987.0
8784     19641987.0
8785     19641987.0
8786     19641987.0
8787     19641987.0
            ...
12550    19641987.0
12551    19641987.0
12552    19641987.0
12553    19641987.0
12554    19641987.0
Name: total, Length: 3772, dtype: float64

In [23]:
cta_bus_2018['total']=cta_bus_2018.loc[:,"AVG_RIDES"].sum()
cta_bus_2018['total']

<ipython-input-23-aea6c8c9d7d9>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cta_bus_2018['total']=cta_bus_2018.loc[:,"AVG_RIDES"].sum()

5003    18955014.0
5004    18955014.0
5005    18955014.0
5006    18955014.0
5007    18955014.0
           ...
8778    18955014.0
8779    18955014.0
8780    18955014.0
8781    18955014.0
8782    18955014.0
Name: total, Length: 3780, dtype: float64

In [ ]:
cta_bus_2019['total']=cta_bus_2019.loc[:,"AVG_RIDES"].sum()
cta_bus_2019['total'] = cta_bus_2019.drop_duplicates
cta_bus_2019['total']

In [25]:
cta_bus_2020['total']=cta_bus_2020.loc[:,"AVG_RIDES"].sum()
cta_bus_2020['total']

<ipython-input-25-e7ef6b7eec57>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cta_bus_2020['total']=cta_bus_2020.loc[:,"AVG_RIDES"].sum()

0       4509689.0
1       4509689.0
2       4509689.0
3       4509689.0
4       4509689.0
          ...
1239    4509689.0
1240    4509689.0
1241    4509689.0
1242    4509689.0
1243    4509689.0
Name: total, Length: 1244, dtype: float64

In [76]:
#cta_rides = pd.DataFrame({'2015': [cta_bus_2015['total']],'2016': [cta_bus_2016['total']], '2017': [cta_bus_2017['total']], 
                          '2018': [cta_bus_2018['total']], '2019': [cta_bus_2019['total']], 
                          '2020': [cta_bus_2020['total']]})
#years = ['2015', '2016', '2017', '2018', '2019', '2020' ]
#cta_rides_df = pd.DataFrame(cta_rides, columns=[cta_bus["YEAR"] > 2014])
#cta_graph = cta_rides.plot
#cta_graph
#cta_rides

,2015,2016,2017,2018,2019,2020
0,16369 490483826.0 16370 490483826.0 1637...,12555 490483826.0 12556 490483826.0 1255...,8783 490483826.0 8784 490483826.0 8785...,5003 490483826.0 5004 490483826.0 5005 ...,1245 490483826.0 1246 490483826.0 1247 ...,0 490483826.0 1 490483826.0 2 ...

In [ ]:
#fuel per ride

In [ ]:
#Fuel per year

In [ ]:
#fuel per person

In [ ]:
#People per ride